h1 {
  float: left;
}

h2 {
  float: right;
}

.container {
  margin-top: 50px;
}
#hiddenDiv {
  margin-top: 30px;
  width: 500px;
}

#redeemPointsForm {
  margin-top: 15px;
}

#confirmRedeemBtn {
  margin-top: 15px;
}

.forms {
  margin-top: 50px;
}

#customerMileageForm {
  margin-top: 0px;
}

#typeInput {
  margin-left: 50px;
}

#phoneSearchDiv {
  width: 550px;
}

#customerAddDiv {
  width: 550px;
}

button.submit {
  float: right;
}

#customerDetailsContainer {
  margin-top: 50px;
}
.customer-container {
  margin-top: 50px;
}

.customer-list {
  margin-top: 25px;
}

#sale-container {
  margin-top: 50px;
  width: 100%;
}

.sale {
  margin-top: 30px;
}

.regInput {
  width: 300px;
}
.bigInput {
  width: 80%;
}

#customer-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

#emailText {
  margin-top: 30px;
}

legend {
  font-size: 17px;
}

.tableHeadId {
  display: none;
}

/* .fancySearchRow input {
  width: 75% !important;
} */

#showAllLink {
  font-weight: bold;
  text-align: right;
}

#buttonsRow {
  margin-top: 50px;
}

.authLinksDiv {
  margin-top: 15px;
}

th {
  vertical-align: middle;
  text-align: center;
}

td {
  vertical-align: middle;
  text-align: center;
}

.pag {
  text-align: left;
}

#profitHeader {
  width: 12%
}
/* #profitColumn {
  width: 40px;
} */
.profitInput {
  width: 100%;
}

